REACT_APP_SUPABASE_URL=https://dczhfpcfqlygpbqjctwf.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjemhmcGNmcWx5Z3BicWpjdHdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxOTQ1NzgsImV4cCI6MjA5MDc3MDU3OH0.XPsokkWsHMNgrJN2Mrjk_mhuDCg-D40G-2RuWLVNiJ8